:root {

  // Brand
  --color-primary: #2FC7A1;
  --color-secondary: #0E2A46;
  --color-accent: #FE543D;
  --color-navy: #17254E;


  // Background
  --color-background: #FFFFFF;
  --color-surface: #F8FAFC;


  // Text
  --color-text-primary: #17254E;
  --color-text-secondary: #64748B;


  // Border
  --color-border: #E2E8F0;
}