<section class="exam section-padding">
  <div class="container">
    <!-- ========================================= -->
    <!-- Section Header                            -->
    <!-- ========================================= -->
    <div class="exam__header">
      <span class="exam__subtitle">
        <app-section-tag-header [text]="header().subtitle" [hasIcon]="true" />
      </span>

      <h2 class="exam__title">{{ header().title }}</h2>
    </div>

    <!-- ========================================= -->
    <!-- Exam Cards                                -->
    <!-- ========================================= -->
    <div class="exam__cards">
      @for (card of cards(); track card.image) {
        <article
          class="exam__card"
          [class.exam__card--dark]="card.variant === ExamCardVariant.Dark"
          [class.exam__card--green]="card.variant === ExamCardVariant.Green"
        >
          <!-- ========================================= -->
          <!-- Card Content                               -->
          <!-- ========================================= -->
          <div class="exam__card-content">
            <p class="exam__card-small">{{ card.smallText }}</p>

            <h3 class="exam__card-heading" [innerHTML]="sanitizeHeading(card.heading)"></h3>

            <!-- ========================================= -->
            <!-- Card Action                               -->
            <!-- ========================================= -->
            @if (card.button.background && card.button.backgroundIcon) {
              <app-button
                [text]="card.button.text"
                [background]="card.button.background"
                [backgroundIcon]="card.button.backgroundIcon"
              />
            } @else {
              <app-button [text]="card.button.text" />
            }
          </div>

          <!-- ========================================= -->
          <!-- Card Image                                 -->
          <!-- ========================================= -->
          <img [src]="card.image" [alt]="card.imageAlt" class="exam__card-image" />
        </article>
      }
    </div>
  </div>
</section>
