<section class="about">
  <div class="container about__container">

    <!-- ===================== -->
    <!-- Left Images -->
    <!-- ===================== -->

    <div class="about__gallery">

      <div class="about__shape">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <img
        src="/assets/images/home/about-section/images/student-profile-about.webp"
        alt="Student"
        class="about__image about__image--large"
      />

      <div class="about__experience">
        <div class="circle">
          <span>35+</span>
        </div>

        <h4>Years Experience</h4>
      </div>

      <img
        src="/assets/images/home/about-section/images/students-collaborating-about.webp"
        alt="Students"
        class="about__image about__image--small"
      />

    </div>

    <!-- ===================== -->
    <!-- Right Content -->
    <!-- ===================== -->

    <div class="about__content">

      <span class="about__tag">
        ABOUT US
      </span>

      <h2 class="about__title">
        Benefit From Our Online
        Learning Expertise Earn
        <span>Professional</span>
      </h2>

      <p class="about__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore.
      </p>

      <div class="about__features">

        <div class="feature">
          <h4>OUR MISSION:</h4>

          <p>
            Suspendisse ultrice gravida dictum fusce placerat ultricies
            integer quis auctor elit sed vulputate mi sit.
          </p>
        </div>

        <div class="feature">
          <h4>OUR VISSION:</h4>

          <p>
            Suspendisse ultrice gravida dictum fusce placerat ultricies
            integer quis auctor elit sed vulputate mi sit.
          </p>
        </div>

      </div>

      <button class="about__btn">
        Admission Open

        <span>
          →
        </span>
      </button>

    </div>

  </div>
</section>


<app-button [text]="'oaofewo'"></app-button>