<section class="about section-padding">
  <div class="container about__container">
    <!-- ===================== -->
    <!-- Left Images -->
    <!-- ===================== -->

    <div class="about__gallery">
      <div class="about__shape">
        <img
          class="about__shape-image"
          [ngSrc]="config().images[imageKey.StarBurstDecor].src"
          [alt]="config().images[imageKey.StarBurstDecor].alt"
          loading="lazy"
          [width]="config().images[imageKey.StarBurstDecor].width"
          [height]="config().images[imageKey.StarBurstDecor].height"
          priority="false"
        />
      </div>

      <img
        class="about__image about__image--large"
        [ngSrc]="config().images[imageKey.StudentProfile].src"
        [alt]="config().images[imageKey.StudentProfile].alt"
        loading="lazy"
        [width]="config().images[imageKey.StudentProfile].width"
        [height]="config().images[imageKey.StudentProfile].height"
        priority="false"
      />

      <div class="about__experience">
        <img
          class="about__image about__image--badge"
          [ngSrc]="config().images[imageKey.ExperienceBadge].src"
          [alt]="config().images[imageKey.ExperienceBadge].alt"
          loading="lazy"
          [width]="config().images[imageKey.ExperienceBadge].width"
          [height]="config().images[imageKey.ExperienceBadge].height"
        />
      </div>

      <img
        class="about__image about__image--small"
        [ngSrc]="config().images[imageKey.StudentsCollaborating].src"
        [alt]="config().images[imageKey.StudentsCollaborating].alt"
        loading="lazy"
        [width]="config().images[imageKey.StudentsCollaborating].width"
        [height]="config().images[imageKey.StudentsCollaborating].height"
      />
    </div>

    <!-- ===================== -->
    <!-- Right Content -->
    <!-- ===================== -->

    <div class="about__content">
      <span class="about__tag">
        <app-section-tag-header [text]="config().tagText" [color]="'#FE543D'" />
      </span>

      <h2 class="about__title">
        {{ config().title }}
        <span class="about__title-highlight">{{ config().titleHighlight }}</span>
      </h2>

      <p class="about__description">
        {{ config().description }}
      </p>

      <div class="about__features">
        @for (feature of config().features; track feature.title) {
          <div class="about__feature">
            <h4 class="about__feature-title">{{ feature.title }}</h4>
            <p class="about__feature-text">{{ feature.text }}</p>
          </div>
        }
      </div>

      <app-button [text]="config().cta.text"></app-button>
    </div>
  </div>
</section>
