<article class="blog-card">
  <a (click)="navigateToBlog()" class="blog-card__image-link">
    <img
      [ngSrc]="image"
      width="364"
      height="208"
      loading="lazy"
      [alt]="imageAlt"
      [fallbackSrc]="defaultImage"
      class="blog-card__image"
    />
  </a>

  <div class="blog-card__body">
    <div class="blog-card__meta">
      <span class="blog-card__meta-item">
        <span 
          class="blog-card__meta-icon" 
          [innerHTML]="calendarIcon"
        ></span>
        {{ blog.date ?? (publishedDate | date: 'dd MMMM yyyy') }}
      </span>

      <span class="blog-card__meta-item">
        <span 
          class="blog-card__meta-icon" 
          [innerHTML]="commentIcon"
        ></span>
        Comment ({{ blog.commentCount }})
      </span>
    </div>

    <h3 class="blog-card__title">
      <a (click)="navigateToBlog()">
        {{ blog.title }}
      </a>
    </h3>

    <div class="blog-card__bottom" (click)="navigateToBlog()">
      <app-button text="Read More"></app-button>
    </div>
  </div>
</article>